
$screenWidth:800;
body{
  color: if($screenWidth > 500,blue,red );
}

@if $screenWidth > 1600 {
    body{
        color: red;
    }

}
@else if $screenWidth > 400{
    span{
        color: green;
    }

}
@else{
    p{
        color: blue;
    }
}

@for $i from 1 through 5{
    .span#{$i}{
        width: 20% * $i;
    }

}
$j: 6;
@while $j >0{
    p#{$j}{
        width: 20% * $j;
    }
    $j:$j - 3;
}
$k: 1;
@each $c in blue, red, green{
    .div#{$k}{
        color: $c;
    }
    $k: $k + 1;
}

@each $key,$color in(default,blue),(info,green),(danger,red){
    .text-#{$key}{
        color: $color;
    }
}
@each $key, $value in (default:blue, info:green, danger:red){
    .lable-#{$key}{
        color: $value;
    }
}
