@charset "UTF-8";
/*数据类型*/
p {
  font-size: 14px;
}

/*字符串类型*/
.container {
  font-size: 14px;
}

/*bool类型*/
/*null类型*/
body {
  color: red;
}

/*color类型*/
body {
  color: rgba(255, 255, 0, 0.5);
}

span {
  width: 25px;
}

a:hover {
  cursor: e-resize;
}

a:before {
  content: "abc";
}

p {
  padding: 7px auto;
}

p:before {
  content: "hello,sass 3";
}

p {
  font: 10px / 5px;
  font: 7.5px;
  width: 7.5px;
  height: 50px;
}
